# MongoDB Atlas Cloud Database URI
MONGODB_URI=
MONGODB_DB=wildmac_db

# Admin Authentication
ADMIN_EMAIL=admin@wildmac.com
ADMIN_PASSWORD=
SESSION_SECRET=

# Cloudinary Storage for Blog Images & Knowledge Resources
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
